version: "3.0"


services:

  elasticsearch:
    container_name: es-container
    image: docker.elastic.co/elasticsearch/elasticsearch:8.7.1
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    networks:
      - elastic-network
    ports:
      - 9200:9200

  kibana:
    container_name: kb-container
    image: docker.elastic.co/kibana/kibana:8.7.1
    environment:
      - ELASTICSEARCH_HOSTS=http://es-container:9200
    networks:
      - elastic-network
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601


networks:
  elastic-network:
    driver: bridge